<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TutorialsninjaAutomationSuite">
  <listeners>
  
  <listener class-name="com.tutorialsninja.qa.listeners.MyListeners"/>
  
  </listeners>
  <test thread-count="5" name="TutorialsninjaAutomationTest">
    <classes>
      <class name="com.tutorialninja.qa.testcases.Register"/>
      <class name="com.tutorialninja.qa.testcases.Search"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
